.Home{
    height: 100%;
    width: 100%;
}

.logo {
    font-size: 3.5vmin;
    height: auto;
    top: 10%;
}

.rotatedPath1{
    height: 2px;
    width: 70%;
    top:50%;
    left:35%;
    position: absolute;
    transform: rotate(45deg);
}

.line1{
    height: 2px;
    width: 20%;
    background-color: var(--accent2);
}

.rotatedPath2{
    height: 20px;
    width: 40%;
    bottom: 25%;
    position: absolute;
    left:-10%;
    transform: rotate(45deg);
}

.line2{
    height: 2px;
    background-color: var(--accent2);
    width: 70%;
}

.title {
    height: 50%;
    font-size: 10vmin;
    color: #fff;
    display: flex;
    position: absolute;
    text-align: end;
    left: 25%;
    top: 30%;
    line-height: 120%;
}

.joinUs {
    width: 10%;
    background-color: var(--accent2);
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 15%;
    right: 10%;
    font-weight: bold;
}

.joinUs img {
    height: 3.75vmin;
}

.joinUs input {
    border: none;
    height: 100%;
    width: 75%;
    outline-style: none;
    background-color: var(--accent2);
    color: #fff;
    text-align: center;
    font-family: Heebo;
    font-size: 3vmin;
}
.joinUsText {
    color: #fff;
    font-size: 2.75vmin;
    font-family: Heebo;
}

.socials{
    position: absolute;
    bottom: 5%;
    width: 10%;
    display: flex;
    right: 15%;
    justify-content: space-between;

}

.socials img {
    height: 5vmin;
}

::placeholder{
    opacity: 0.5;
    color: white;
    font-family: Heebo;
}

/* KEYFRAME ANIMATIONS */
@keyframes slideUp {
    from{
        transform: translateY(10vh);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes slideDown {
    to{
        transform: translateY(15vh);
        opacity: 0;
    }
}

@keyframes line1Out {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translateX(70vw);
        opacity: 0;
    }
}

@keyframes line1In {
    0%{
        transform: translate(100vw);
    }
    100%{
        transform: translate(0,0);
    }
}

@keyframes line2Out {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translateX(45vw);
        opacity: 0;
    }
}

@keyframes line2In {
    0%{
        transform: translate(100vw);
    }
    100%{
        transform: translate(0,0);
    }
}

@keyframes joinUsOpen {
    100%{
        opacity: 0;
    }
}

@keyframes joinUsClose {
    0%{
        opacity: 0;
    }
}

@keyframes showform {
    0%{
        width: 0;
        opacity: 0;
    }
    30%{
        width: 0;
        opacity: 0;
    }
    40%{
        width: 0;
        opacity: 0;
    }
}

@keyframes unhidejoinUsText {
    0%{
        height: 0;
        font-size: 0;
        transform: translate(5vh);
    }
    60%{
        height: 0;
        font-size: 0;
        transform: translate(5vh);
    }
    70%{
        height: 0;
        font-size: 0;
        transform: translate(5vh);
    }
}

@keyframes hideStick {
    30%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
}

@keyframes unhideStick {
    0%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
}

@keyframes shiftMail {
    30%{
        transform: translateX(-65%);
    }
    40%{
        transform: translateX(-65%);
    }
}

@keyframes shiftMailRev {
    60%{
        transform: translateX(-60%);
    }
    70%{
        transform: translateX(-60%);
    }
}

@keyframes slideDiagonal {
    from{
        transform: scale(1) translate(0,0) scale(1);
    }
    to{
        opacity: 0.25;
        transform: translate(45vw,22vh) scale(0.4);
    }
}

@keyframes slideDiagonalRev{
    from{
        opacity: 0.25;
        transform: translate(45vw,22vh) scale(0.4);
    }
    to{
        transform: scale(1) translate(0,0) scale(1);
    }
}

/* ANIMATION CLASSES */

.joinUsOpen{
    animation: joinUsOpen 1s cubic-bezier(0.5, 0.49, 0.01, 1) 1 forwards;
}

.joinUsClose {
    animation: joinUsClose 1s cubic-bezier(0.5, 0.49, 0.01, 1) 1 forwards;
}

.hide{
    display: none;
}

.unhidejoinUsText{
    animation: unhidejoinUsText 1s cubic-bezier(0.5, 0.49, 0.01, 1) 1 forwards;
}

.showform{
    animation: showform 1s cubic-bezier(0.5, 0.49, 0.01, 1) 1 forwards;
    display: flex;
    justify-content: center;
}

.hideStick{
    animation: hideStick 1s cubic-bezier(0.5, 0.49, 0.01, 1) 1 forwards;
}

.unhideStick{
    animation: unhideStick 1s cubic-bezier(0.5, 0.49, 0.01, 1) 1 forwards;
}

.shiftMail {
    animation: shiftMail 1s cubic-bezier(0.5, 0.49, 0.01, 1) 1 forwards;
}

.shiftMailRev {
    animation: shiftMailRev 1s cubic-bezier(0.5, 0.49, 0.01, 1) 1 forwards;
}

.slideDiagonal{
    animation: slideDiagonal 0.4s cubic-bezier(0.5, 0.49, 0.01, 1) forwards;
}

.slideDiagonalRev{
    animation: slideDiagonalRev 0.4s cubic-bezier(0.49, 0.49, 0, 1) forwards;
}

.slideUp{
    animation: slideUp 0.4s cubic-bezier(0.49, 0.49, 0, 1) forwards;
}

.slideDown{
    animation: slideDown 0.4s cubic-bezier(0.49, 0.49, 0, 1) forwards;
}

.line1Out{
    animation: line1Out 0.5s cubic-bezier(0.49, 0.49, 0, 1) forwards;
}

.line1In{
    animation: line1In 0.5s cubic-bezier(0.49, 0.49, 0, 1) forwards;
}

.line2Out{
    animation: line2Out 0.5s cubic-bezier(0.49, 0.49, 0, 1) forwards;
}

.line2In{
    animation: line2In 0.5s cubic-bezier(0.49, 0.49, 0, 1) forwards;
}